@use "styles/variables";
@use "styles/debug";

.header-component {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: variables.$header-height;
  //background: variables.$green-dark;
  background: linear-gradient(to top right, variables.$green-dark, variables.$green-medium);
  color: rgba(variables.$white, 0.7);
  box-shadow: 0 2px 1px rgba(variables.$green-dark, 0.4);
  padding: variables.$outer-padding;

  button {
    &.active {
      background: linear-gradient(178deg, lighten(variables.$green-dark, 5%), lighten(variables.$green-dark, 15%));
      & > * {
        transform-origin: 50% 50%;
        transform: scale(0.96);
      }
    }
  }
}

.brand {
  display: flex;
  align-items: center;

  h1 {
    height: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(variables.$white, 0.9);
    margin-left: 10px;
    margin-bottom: 5px;
  }
}

.menu-button {
  span {
    display: flex;
    align-items: center;

    span {
      margin-left: 10px;
    }
  }
}

.nav {
  z-index: 9;
  position: fixed;
  //bottom: variables.$footer-height + 5px;
  top: variables.$header-height + 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
  width: 330px;
  max-width: 400px;
  background: linear-gradient(to top,
          lighten(variables.$green-dark, 5%),
          variables.$green-medium 40%,
          variables.$green-medium 80%,
          lighten(variables.$green-dark, 5%)
  );
  color: rgba(variables.$white, 1);
  box-shadow: -2px 2px 4px rgba(variables.$green-dark, 0.7);
  border-radius: 5px;
  border: 1px solid rgba(variables.$green-dark, 0.5);
  visibility: hidden;
  will-change: transform;
  transition: transform 0.2s ease-in-out, visibility 0.2s 0.2s;
  transform: translateX(calc(100% + 5px));

  &.visible {
    transition: transform 0.2s ease-in-out, visibility 0s 0s;
    visibility: visible;
    transform: translateX(0);
  }

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
  }

  li {
    font-size: 0.85rem;
    width: 100%;
    margin-bottom: 20px;
  }

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    height: 100%;
    width: 100%;

    :where(input, select) {
      margin-left: auto;
      cursor: pointer;
    }

    p {
      text-align: end;
      margin-left: 5px;
      width: 25px;
    }
  }

  select {
    position: relative;
    width: 180px;
    text-transform: capitalize;
    margin-right: 0;

    &:focus {
      outline: 2px solid variables.$blue-light;
    }
  }

  input {
    width: 150px;
  }
}
