@use "styles/variables";

.header-component {
  display: flex;
  align-items: center;
  width: 100%;
  height: variables.$header-height;
  //background: variables.$green-dark;
  background: linear-gradient(to top right, variables.$green-dark, variables.$green-medium);
  color: rgba(variables.$white, 0.7);
  box-shadow: 0 2px 1px rgba(variables.$green-dark, 0.4);
  padding: variables.$outer-padding;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;

  h1 {
    font-size: 1.2rem;
    margin-right: auto;
  }

  ul {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  li {
    font-size: 0.85rem;
    margin-right: 40px;
  }

  label {
    display: flex;
    align-items: center;
    height: 100%;

    :where(input, select) {
      margin: 0 10px;
    }

    select {
      text-transform: capitalize;
    }

    span {
      margin-left: 10px;
    }
  }
}
