/* SIZES */
$header-height: 50px;
$footer-height: 40px;
$outer-padding: 0 4vw;

/* COLORS */
$green-dark: #072227;
$green-medium: #35858B;
$green-light: #4FBDBA;
$green-lighter: #AEFEFF;
$white: #FFFFFF;
$yellow-light: darken(#E9D8A6, 5%);
$orange: #EE9B00;
$red: #9B2226;
$purple-dark: #480CA8;
//$purple-pink: rgba(#B5179E, 0.8);
$purple-pink: #B5179E;
//$blue-light: rgba(#4CC9F0, 0.6);
$blue-light: #95DFF6;
