/* SIZES */
$header-height: 50px;
$footer-height: 30px;
$outer-padding: 0 70px;

/* COLORS */
$green-dark: #072227;
$green-medium: #35858B;
$green-light: #4FBDBA;
$green-lighter: #AEFEFF;
$white: #FFFFFF;
$yellow-light: #E9D8A6;
$orange: #EE9B00;
$orange-dark: #BB3E03;
$red-dark: #9B2226;
