/* SIZES */
$header-height: 50px;
$footer-height: 25px;
$outer-padding: 0 70px;

/* COLORS */
$green-dark: #072227;
$green-medium: #35858B;
$green-light: #4FBDBA;
$green-lighter: #AEFEFF;
$white: #FFFFFF;
