@use "reset";
@use "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

* {
  scrollbar-width: none;
}

body {
  font-family: 'Valera Round', sans-serif;
}


button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  border: 1px solid rgba(variables.$green-dark, 0.5);
  border-radius: 5px;
  background: linear-gradient(2deg, variables.$green-dark, variables.$green-medium);
  color: rgba(variables.$white, 0.9);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 5px 10px;
  cursor: pointer;

  &:active {
    background: linear-gradient(178deg, lighten(variables.$green-dark, 5%), lighten(variables.$green-dark, 15%));
    & > * {
      transform-origin: 50% 50%;
      transform: scale(0.96);
    }
  }

  &:focus {
    outline: 1px solid variables.$blue-light;
  }

  img {
    filter: invert(100%);
    &.invert {
      filter: invert(90%) !important;
    }

    &.flip {
      transform: rotate(180deg);
    }
  }
}

input {
  &[type=range] {
    appearance: none;
    height: 20px;
    border-radius: 3px;
    background: none;

    &::-webkit-slider-runnable-track {
      appearance: none;
      width: 100%;
      height: 5px;
      background: variables.$green-lighter;
      border-radius: 25px;
      border: 1px solid rgba(variables.$green-dark, 0.9);
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      height: 18px;
      width: 10px;
      border: 1px solid rgba(variables.$green-dark, 0.9);
      border-radius: 3px;
      background: lighten(variables.$yellow-light, 15%);
      cursor: pointer;
      margin-top: -8px;
    }

    &:focus {
      outline: 1px solid rgba(variables.$green-lighter, 0.6);
    }
  }
}

code {
  background: rgba(variables.$white, 0.6);
  border: 1px solid rgba(grey, 0.8);
  border-radius: 3px;
  color: #444;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 1px 5px;
  // margin: 0 2px;
  margin-right: 2px;
}
