@use "styles/debug";
@use "styles/variables";

.default-layout {
  width: 100vw;
  height: 100vh;

  main {
    width: 100%;
    height: calc(100vh - (variables.$header-height + variables.$footer-height));
    padding: variables.$outer-padding;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
